services:
  mongoDB:
    image: mongo:8.0
    container_name: mongoDB
    ports:
      - "27017:27017"
    volumes:
      - mongoDB:/data/db

    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

    networks:
      - backend
    restart: always

networks:
  backend:

volumes:
  mongoDB: